<!DOCTYPE html>
<html>
  <head>
    <title>Community Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://openlayers.org/en/v6.6.1/css/ol.css" type="text/css">
    <script src="https://openlayers.org/en/v6.6.1/build/ol.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-firestore.js"></script>
  </head>
  <body onload="initMap()">
    <h1>Community Page</h1>
    <div>
      <p>Total Meals Served: <span id="total-meals">{{ total_meals_served }}</span></p>
    </div>
    <div id="map" style="height: 400px;"></div>
    <script>

      function initMap() {
        const map = new ol.Map({
          target: 'map',
          layers: [
            new ol.layer.Tile({
              source: new ol.source.OSM()
            })
          ],
          view: new ol.View({
            center: ol.proj.fromLonLat([78.9629, 20.5937]),
            zoom: 5
          })
        });
    
        // Retrieve the marker data from the context variable
        const markers = JSON.parse(`{{ markers | tojson }}`);
    
        // Add each marker as a feature to the map
        markers.forEach(marker => {
          const feature = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.fromLonLat([marker.lon, marker.lat])),
            title: marker.title,
            description: marker.description,
          });
          feature.setStyle(new ol.style.Style({
            image: new ol.style.Icon({
              src: 'https://openlayers.org/en/latest/examples/data/icon.png',
              // scale: 2,
              // src: 'https://cdn.mapmarker.io/api/v1/pin?size=50&background=%23f00&icon=fa-map-marker',
              anchor: [0.5, 1],
              scale: 2 // Set the scale to make the marker bigger
            }),
          }));
          const source = new ol.source.Vector({
            features: [feature],
          });
          const layer = new ol.layer.Vector({
            source: source,
          });
          map.addLayer(layer);
        });
      }
    </script>
    
  </body>
</html>
