<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Food Posts</title>
  </head>
  <body>
    <h1>Food Posts</h1>
    {% if unclaimed_posts %}
      <h2>Unclaimed Posts</h2>
      <ul>
        {% for post in unclaimed_posts %}
          <li>
            <h2>{{ post.to_dict().food }}</h2>
            <p>Location: {{ post.to_dict().location }}</p>
            {% if post.to_dict().claimed %}
              <p>Claimed by: {{ post.to_dict().claimed_by }}</p>
            {% else %}
              <form action="{{ url_for('claim_food', post_id=post.id) }}" method="post">
                <button type="submit">Claim Food</button>
              </form>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if claimed_posts %}
      <h2>Claimed Posts</h2>
      <ul>
        {% for post in claimed_posts %}
          <li>
            <h2>{{ post.to_dict().food }}</h2>
            <p>Location: {{ post.to_dict().location }}</p>
            <p>Claimed by: {{ post.to_dict().claimed_by }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if not unclaimed_posts and not claimed_posts %}
      <p>No food posts found.</p>
    {% endif %}

    <a href="/logout">Logout</a>
  </body>
</html>
