<!DOCTYPE html>
<html>
<head>
  <title>Create New Post</title>
</head>
<body>
  <h1>Create New Post</h1>
  <form method="POST" action="/post">
    <label for="user_id">User ID:</label>
    <input type="text" id="user_id" name="user_id"><br><br>
    
    <label for="food_type">Food Type:</label>
    <input type="text" id="food_type" name="food_type"><br><br>
    
    <label for="food_quantity">Food Quantity:</label>
    <input type="text" id="food_quantity" name="food_quantity"><br><br>
    
    <label for="location">Location:</label>
    <input type="text" id="location" name="location"><br><br>
    
    <input type="submit" value="Create Post">
  </form>
</body>
</html>
