<!DOCTYPE html>
<html>
  <head>
    <title>Post Food</title>
  </head>
  <body>
    <h1>Post Food</h1>

    <form method="POST" action="/post_food">
      <input
        type="text"
        name="food_name"
        placeholder="Food Name"
        required
      /><br /><br />
      <textarea
        name="food_description"
        placeholder="Food Description"
        required
      ></textarea
      ><br /><br />
      <input
        type="number"
        name="quantity"
        placeholder="Quantity"
        required
      /><br /><br />
      <input type="hidden" name="lat" id="lat" />
      <input type="hidden" name="lng" id="lng" />
      <input type="submit" value="Post" />
    </form>

    {% if my_posts %}
      <h2>My Posts</h2>
      <ul>
        {% for post in my_posts %}
          <li>
            <strong>{{ post.get('food') }}</strong>
            <p>{{ post.get('description') }}</p>
            <p>Quantity: {{ post.get('quantity') }}</p>
            <p>Location: {{ post.to_dict().location }}</p>
            <p>Claimed by: {{ post.to_dict().claimed_by }}</p>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <script>
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else {
          alert("Geolocation is not supported by this browser.");
        }
      }

      function showPosition(position) {
        document.getElementById("lat").value = position.coords.latitude;
        document.getElementById("lng").value = position.coords.longitude;
      }

      getLocation();
    </script>
  </body>
</html>
